﻿#prefix-suffix-slider .ui-slider-label {
    margin-left: -1.75em;
}
.btneditanddelete i
{
    font-size:18px;
    padding-top:4px;
   
    
}

.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li:hover > a > .arrow.open:before, .page-sidebar .page-sidebar-menu li:hover > a > .arrow:before, .page-sidebar .page-sidebar-menu li:hover > a > .arrow.open:before
{
    color:#359bcf !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu > li.open > a > .arrow.open:before, .page-sidebar .page-sidebar-menu > li:hover > a > .arrow:before, .page-sidebar .page-sidebar-menu > li:hover > a > .arrow.open:before, .page-sidebar .page-sidebar-menu > li.open > a > .arrow:before, .page-sidebar .page-sidebar-menu > li.open > a > .arrow.open:before
{
    color:#359bcf !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow:before, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu li > a > .arrow.open:before, .page-sidebar .page-sidebar-menu li > a > .arrow:before, .page-sidebar .page-sidebar-menu li > a > .arrow.open:before
{
    color:#359bcf !important;
}
.grouparea
{
    width:100% !important;
}
#UserTable tr td:nth-child(1) span,#UserTable tr td:nth-child(2) span,#UserTable tr td:nth-child(3) span{
    display:inline-block;
    width:80px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.page-header.navbar .page-logo
{
    padding-left:0px;
}

.dashboard-stat .details
{
    padding-left:15px !important;
    padding-right:unset;
}
.dashboard-stat .details .number
{
    text-align:left;
}
.dashboard-stat .details .number
{
    text-align:left;
}
.dashboard-stat .visual
{
    float:right;
}
.btnMapWhere a{
    color:#2a3642 !important;
}
.templateNameBox{
    /*margin-left:5px;*/
    padding-left:5px;
    width:225px;
    height:25px;
    font-size:13px;
    font-family:Open Sans, sans-serif;
    padding-bottom:0px;
    padding-top:4px;
}

.templateDropDown{
    margin-top:10px;
    width:220px;
    margin-right:18px;
    height:25px;
    padding:4px 5px 0px 0px;
    font-size:13px;
    font-family:Open Sans,sans-serif;
}

.dashboardHeading{
    margin-left:14px;
    margin-top:8px;
    font-size:13px;
    color:#c6cfda;
    font-family:Open Sans, sans-serif;
}

.iconfixed {
    position: fixed;
    right: 2px;
    left: 250px;
    z-index: 1030;
    margin-top: -14px;
    background-color: white;
    border-bottom: 1px solid grey;
}
.dashboard-stat.blue-madison
{
    background-color:#05a3e2;
}
#forWidgets .modal-dialog {
    margin-top: 14%;
}

#forConfirm .modal-dialog {
  margin-top:17%;
}

#ajaxLoader .modal-dialog {
    margin-top: 20%;
}

.marginwizard .modal-dialog {
    margin-top: 7%;
}

#RiskInputModalView .modal-dialog {
    margin-top: 7%;
}

#forClenderTable .modal-dialog {
    margin-top: 9%;
}

#forClenderTableReview .modal-dialog {
    margin-top: 9%;
}

#forLink .modal-dialog {
    margin-top: 11%;
}

#forConfirm .modal-dialog {
    margin-top: 18%;
}

#rootwizardInputModalView .bwizard-steps li {
    padding: 12px 14px 12px 33px;
}

#RiskInputModalView label {
    /*float: right !important;*/
}

#rootwizardInputModalView .ui-slider-horizontal .ui-slider-handle {
    top: -0.3em !important;
}


#mainContentArea {
    margin-top: 0px;
}

#Contents_dashboardDynamicArea {
    padding-top: 10px;
}

.fc-more-popover {
    top: 50px !important;
    overflow-y: auto !important;
    height: 180px !important;
}

.sp-replacer {
}

.sp-preview {
    height: 24px !important;
}

.btnorderby {
    padding: 3px 9px !important;
}

.ui-slider-pip-0 .ui-slider-label{  color:lightgray !important; font-weight:normal !important; }

.ui-slider-pip-1 .ui-slider-label{  color:lightgray !important; font-weight:normal !important; }

.ui-slider-pip-2 .ui-slider-label{  color:lightgray !important; font-weight:normal !important; }

.ui-slider-pip-3 .ui-slider-label{  color:lightgray !important; font-weight:normal !important; }

.label-default {
    background-color: darkorange !important;
    padding: 2px 5px 2px 5px;
}

.label-warning {
    background-color: red !important;
    padding: 2px 5px 2px 5px;
}

.label-Low {
    background-color: green !important;
    padding: 2px 5px 2px 5px;
}

table.table-bordered th:first-child, td:first-child {
    text-align: left;
}

​ table.table-bordered th:last-child, table.table-bordered td:last-child {
    text-align: left;
}

/* We also use a media query so the pips do not crowd-over each other
    when we get to a small screen size */

@media screen and (max-width: 1040px) {
    #prefix-suffix-slider .ui-slider-pip:nth-of-type(2n+1) .ui-slider-label {
        display: none;
    }
}

.slider {
    padding-top: 15px;
}

.rightmax {
    float: right;
    font-weight: bold;
}

.lefmin {
    margin-top: 50px;
    font-weight: bold;
}

.impRequired {
    color: red;
    padding: 5px 0px 0px 7px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -1px !important;
}

.saveChanges {
    padding-top: 5px !important;
    padding-bottom: 12px !important;
}

    .saveChanges i {
        color:#c6cfda;
        font-size: 25px;
        padding: 10px 22px 0px 8px;
    }


.tab1 {
    padding: 2px 0px 5px 0px;
}

.tabDataTable {
    padding: 2px 0px 0px 0px;
}

.tabChartData {
    padding: 2px 0px 5px 10px;
}

.axisTitle{
    font-weight:bold;
}

.axisDescription{
    font-size:11px;
}

.chartTitleBoxHeight{
    height:auto !important;
    padding-bottom:0px;
    padding-top:4px;
}

.txbWidgetFilters{
    width:50%;
}

.tabWidthAdujstment{
    padding-left:45px !important;
}

.tabWidthAdujstmentExceptional{
    padding-left:35px !important;
}

.resultsToBeDisplayed{
    width:16%;
}

.tab-pane {
    height: 350px;
}

.btnColorSize {
    width: 100%;
}

.btnColorSize i {
    width: 98% !important;
}

.progress-bar.animate {
    width: 100%;
}

.dattab, .valuetab {
    padding-left: 0px;
}

.leftclass {
    float: left;
}

#menuUL li {
    float: left;
    margin: 14px 19px 25px 60px;
    list-style: none;
    height: 38px;
}

.items i {
    font-size: 4em;
    color: #2a3642;
}

#upheader img:hover {
    /*cursor:pointer;*/
}

#upheader1 img:hover {
    /*cursor:pointer;*/
}

#upheader2 img:hover {
    /*cursor:pointer;*/
}

#upheader3 img:hover {
    /*cursor:pointer;*/
}

.tickLabel {
    font-size: 80%;
}



.titleText {
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.titleTextBig {
    width: 400px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

a.btnlocksingle {
    color: white;
}

#rootwizard {
    padding: 5px;
}



.modal-body {
    padding-top: 10px;
}

.bwizard-steps {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: #fff;
}

    .bwizard-steps .active {
        color: #fff;
        background: #007ACC;
    }

        .bwizard-steps .active:after {
            border-left-color: #007ACC;
        }

        .bwizard-steps .active a {
            color: #fff;
            cursor: default;
        }

    .bwizard-steps .label {
        position: relative;
        top: -1px;
        margin: 0 5px 0 0;
        padding: 1px 5px 2px;
    }

    .bwizard-steps .active .label {
        background-color: #333;
    }

    .bwizard-steps li {
        display: inline-block;
        position: relative;
        margin-right: 0px;
        padding:12px 32px 12px 47px;  
        *display: inline;
        *padding-left: 17px;
        background: #efefef;
        line-height: 18px;
        list-style: none;
        zoom: 1;
    }
    .Gateinfo
    {
        padding-top:10px
    }

        .bwizard-steps li:first-child {
            padding-left: 18px;
            -moz-border-radius: 4px 0 0 4px;
            -webkit-border-radius: 4px 0 0 4px;
            border-radius: 4px 0 0 4px;
        }

            .bwizard-steps li:first-child:before {
                border: none;
            }

        .bwizard-steps li:last-child {
            margin-right: 0;
            -moz-border-radius: 0 4px 4px 0;
            -webkit-border-radius: 0 4px 4px 0;
            border-radius: 0 4px 4px 0;
        }

            .bwizard-steps li:last-child:after {
                border: none;
            }

        .bwizard-steps li:before {
            position: absolute;
            left: 0;
            top: 0;
            height: 0;
            width: 0;
            border-bottom: 20px inset transparent;
            border-left: 20px solid #fff;
            border-top: 20px inset transparent;
            content: "";
        }

        .bwizard-steps li:after {
            position: absolute;
            right: -20px;
            top: 0;
            height: 0;
            width: 0;
            border-bottom: 20px inset transparent;
            border-left: 20px solid #efefef;
            border-top: 20px inset transparent;
            content: "";
            z-index: 2;
        }

    .bwizard-steps a {
        color: #333;
    }

        .bwizard-steps a:hover {
            text-decoration: none;
        }

    .bwizard-steps.clickable li:not(.active) {
        cursor: default;
    }

    .bwizard-steps.clickable li:hover:not(.active) {
        background: #ccc;
    }

        .bwizard-steps.clickable li:hover:not(.active):after {
            border-left-color: #ccc;
        }

        .bwizard-steps.clickable li:hover:not(.active) a {
            color: #08c;
        }

@media (max-width: 480px) {
    /* badges only on small screens */
    .bwizard-steps li:after,
    .bwizard-steps li:before {
        border: none;
    }

    .bwizard-steps li,
    .bwizard-steps li.active,
    .bwizard-steps li:first-child,
    .bwizard-steps li:last-child {
        margin-right: 0;
        padding: 0;
        background-color: transparent;
    }
}

.portlet-footer {
    text-align: right;
    background-color: white;
    padding: 0px;
    padding-right: 10px;
}

.portlet-body {
    padding: 10px !important;
    
}

.ui-widget-header {
    background-color: transparent;
}

#btnDellistbox {
    margin-top: -54px;
}

#btnDellistboxPie {
    margin-top: -54px;
}

#btnDellistboxLine {
    margin-top: -54px;
}

#btnDellistboxDataTable {
    margin-top: -54px;
}

#btnDellistboxGantt {
    margin-top: -54px;
}

#btnDellistboxGauge {
    margin-top: -54px;
}

#btnDellistboxStat {
    margin-top: -54px;
}

#btnDellistboxComperison {
    margin-top: -62px;
}

#btnDellistboxEventCalender {
    margin-top: -58px;
}

.page-content-wrapper .page-content {
    padding: 14px 20px 10px 20px;
}

#tab2Calender .sp-replacer {
    padding: 0px !important;
}


.chartBar {
    text-align: center;
}

.spanFontStat {
    font-size: 100px;
    padding-top: 13%;
    text-align: center;
}

#circlesid1 {
    height: 25px;
    width: 95%;
}

#circlesid {
    width: 91%;
    margin-left: 5%;
    height: 64px;
    background-image: url(../images/timeline.jpg);
    background-repeat: repeat-x;
}

.firstcircle {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50px !important;
    border: 3px solid #ccc;
    background-color: red;
}
#BuildingVehicleTable td:last-child
{
    padding-top:5px !important;
    padding-bottom:5px !important;
}
#BuildingVehicleTable td .btn
{
    padding-top:2px !important;
    padding-bottom:2px !important;
}
.secondcircle {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50px !important;
    background-color: orange;
    border: 3px solid #ccc;
    margin-left: 120px;
}
.bg-indigo
{
    background-color:#05a3e2 !important;
}
.page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active > a, .page-sidebar .page-sidebar-menu.page-sidebar-menu-light > li.active.open > a
{
        /* border-left: 4px solid #1caf9a; */
    border-left: 4px solid #05a3e2;
}
.bootbox .btn-primary{
  background-color: #05a3e2;
}
.bootbox .btn-primary.btn:hover, .bootbox .btn-primary.btn:focus, .bootbox .btn-primary.btn:active, .bootbox .btn-primary.btn.active {

  background-color: #03b0f5;
}
.green.btn
{
        background-color: #359bcf;
}
.green.btn:hover, .green.btn:focus, .green.btn:active, .green.btn.active {

  background-color: #03b0f5;
}
.open .green.btn.dropdown-toggle {
  background-color: #03b0f5;
}
.green.btn:active, .green.btn.active {
  background-image: none;
  background-color: #03b0f5;
}
.green.btn:active:hover, .green.btn.active:hover {
  background-color: #03b0f5;
}
.green.btn.disabled, .green.btn.disabled:hover, .green.btn.disabled:focus, .green.btn.disabled:active, .green.btn.disabled.active, .green.btn[disabled], .green.btn[disabled]:hover, .green.btn[disabled]:focus, .green.btn[disabled]:active, .green.btn[disabled].active, fieldset[disabled] .green.btn, fieldset[disabled] .green.btn:hover, fieldset[disabled] .green.btn:focus, fieldset[disabled] .green.btn:active, fieldset[disabled] .green.btn.active {
  background-color: #03b0f5;
}
.startcircle {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50px !important;
    background-color: orange;
    border: 3px solid #ccc;
    margin-left: 120px;
}

.thirdcircle {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50px !important;
    background-color: orange;
    border: 3px solid #ccc;
    margin-left: 120px;
}

.endcircle {
    width: 60px;
    height: 60px;
    float: right;
    border-radius: 50px !important;
    border: 3px solid #ccc;
    background-color: darkslateblue;
}

.firstcircletext {
    float: left;
    margin-left: 5%;
    font-weight: bolder;
}

.endcircletext {
    float: right;
    font-weight: bolder;
}

.secondcircletext {
    float: left;
    margin-left: 60px;
    font-weight: bolder;
}

.startcircletext {
    float: left;
    margin-left: 90px;
    font-weight: bolder;
}

.thirdcircletext {
    float: left;
    margin-left: 60px;
    font-weight: bolder;
}

.firstcircletext1 {
    float: left;
    margin-left: 5%;
    font-weight: bolder;
}

.endcircletext1 {
    float: right;
    font-weight: bolder;
}

.secondcircletext1 {
    float: left;
    margin-left: 120px;
    font-weight: bolder;
}

.startcircletext1 {
    float: left;
    margin-left: 130px;
    font-weight: bolder;
}

.thirdcircletext1 {
    float: left;
    margin-left: 125px;
    font-weight: bolder;
}

.heading {
    font-weight: bolder;
}

.timeline > li .timeline-body {
    margin: 0 0 12px 33% !important;
}

    .timeline > li .timeline-body h2 {
        border-bottom: none !important;
        padding: 0px !important;
    }

.timeline > li .timeline-icon {
    left: 29% !important;
}

.timeline:before {
    left: 29% !important;
    bottom: 8px !important;
}

.fc td.fc-today {
    border-right: 1px solid red !important;
    border-left: 1px double red !important;
}

.timeline > li .timeline-time {
    width: 24% !important;
}

    .timeline > li .timeline-time span.time {
        font-size: 30px !important;
    }

.timeline li.timeline-brown .timeline-body:after {
    border-right-color: #FF8040;
}

.timeline li.timeline-brown .timeline-body {
    background: #FF8040;
}

.timeline li.timeline-brown .timeline-time span.time {
    color: #FF8040;
}



/*slider range*/
/*! jQuery-ui-Slider-Pips - v1.11.1 - 2015-11-30
* Copyright (c) 2015 Simon Goellner <simey.me@gmail.com>; Licensed MIT */

/* HORIZONTAL */
/* increase bottom margin to fit the pips */
.ui-slider-horizontal.ui-slider-pips {
    margin-bottom: 1.4em;
}

/* default hide the labels and pips that arnt visible */
/* we just use css to hide incase we want to show certain */
/* labels/pips individually later */
.ui-slider-pips .ui-slider-label,
.ui-slider-pips .ui-slider-pip-hide {
    display: none;
}

/* now we show any labels that we've set to show in the options */
.ui-slider-pips .ui-slider-pip-label .ui-slider-label {
    display: block;
    color:#35aa47;
    font-weight:bold;
}



/* PIP/LABEL WRAPPER */
/* position each pip absolutely just below the default slider */
/* and also prevent accidental selection */
.ui-slider-pips .ui-slider-pip {
    width: 2em;
    height: 1em;
    line-height: 1em;
    position: absolute;
    font-size: 0.8em;
    color: #999;
    overflow: visible;
    text-align: center;
    top: 20px;
    left: 20px;
    margin-left: -1em;
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-state-disabled.ui-slider-pips .ui-slider-pip {
    cursor: default;
}

/* little pip/line position & size */
.ui-slider-pips .ui-slider-line {
    background: #999;
    width: 1px;
    height: 3px;
    position: absolute;
    left: 50%;
}

/* the text label postion & size */
/* it overflows so no need for width to be accurate */
.ui-slider-pips .ui-slider-label {
    position: absolute;
    top: 5px;
    left: 50%;
    margin-left: -1em;
    width: 2em;
}

/* make it easy to see when we hover a label */
.ui-slider-pips:not(.ui-slider-disabled) .ui-slider-pip:hover .ui-slider-label {
    /*color: black;*/
    font-weight: bold;
}

/* VERTICAL */
/* vertical slider needs right-margin, not bottom */
.ui-slider-vertical.ui-slider-pips {
    margin-bottom: 1em;
    margin-right: 2em;
}

    /* align vertical pips left and to right of the slider */
    .ui-slider-vertical.ui-slider-pips .ui-slider-pip {
        text-align: left;
        top: auto;
        left: 20px;
        margin-left: 0;
        margin-bottom: -0.5em;
    }

    /* vertical line/pip should be horizontal instead */
    .ui-slider-vertical.ui-slider-pips .ui-slider-line {
        width: 3px;
        height: 1px;
        position: absolute;
        top: 50%;
        left: 0;
    }

    .ui-slider-vertical.ui-slider-pips .ui-slider-label {
        top: 50%;
        left: 0.5em;
        margin-left: 0;
        margin-top: -0.5em;
        width: 2em;
    }

/* FLOATING HORIZTONAL TOOLTIPS */
/* remove the godawful looking focus outline on handle and float */
.ui-slider-float .ui-slider-handle:focus,
.ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip-label,
.ui-slider-float .ui-slider-handle:focus .ui-slider-tip,
.ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip-label,
.ui-slider-float .ui-slider-handle:focus .ui-slider-tip-label .ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip-label {
    outline: none;
}

/* style tooltips on handles and on labels */
/* also has a nice transition */
.ui-slider-float .ui-slider-tip,
.ui-slider-float .ui-slider-tip-label {
    position: absolute;
    visibility: hidden;
    top: -40px;
    display: block;
    width: 34px;
    margin-left: -18px;
    left: 50%;
    height: 20px;
    line-height: 20px;
    background: white;
    border-radius: 3px;
    border: 1px solid #888;
    text-align: center;
    font-size: 12px;
    opacity: 0;
    color: #333;
    -webkit-transition-property: opacity, top, visibility;
    transition-property: opacity, top, visibility;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    -webkit-transition-duration: 200ms, 200ms, 0ms;
    transition-duration: 200ms, 200ms, 0ms;
    -webkit-transition-delay: 0ms, 0ms, 200ms;
    transition-delay: 0ms, 0ms, 200ms;
}

/* show the tooltip on hover or focus */
/* also switch transition delay around */
.ui-slider-float .ui-slider-handle:hover .ui-slider-tip,
.ui-slider-float .ui-slider-handle.ui-state-hover .ui-slider-tip,
.ui-slider-float .ui-slider-handle:focus .ui-slider-tip,
.ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip,
.ui-slider-float .ui-slider-handle.ui-state-active .ui-slider-tip,
.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {
    opacity: 1;
    top: -30px;
    visibility: visible;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
    -webkit-transition-delay: 200ms, 200ms, 0ms;
    transition-delay: 200ms, 200ms, 0ms;
}

/* put label tooltips below slider */
.ui-slider-float .ui-slider-pip .ui-slider-tip-label {
    top: 42px;
}

.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {
    top: 32px;
    font-weight: normal;
}

/* give the tooltip a css triangle arrow */
.ui-slider-float .ui-slider-tip:after,
.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
    content: " ";
    width: 0;
    height: 0;
    border: 5px solid rgba(255, 255, 255, 0);
    border-top-color: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -5px;
}

/* put a 1px border on the tooltip arrow to match tooltip border */
.ui-slider-float .ui-slider-tip:before,
.ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
    content: " ";
    width: 0;
    height: 0;
    border: 5px solid rgba(255, 255, 255, 0);
    border-top-color: #888;
    position: absolute;
    bottom: -11px;
    left: 50%;
    margin-left: -5px;
}

/* switch the arrow to top on labels */
.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
    border: 5px solid rgba(255, 255, 255, 0);
    border-bottom-color: white;
    top: -10px;
}

.ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
    border: 5px solid rgba(255, 255, 255, 0);
    border-bottom-color: #888;
    top: -11px;
}

/* FLOATING VERTICAL TOOLTIPS */
/* tooltip floats to left of handle */
.ui-slider-vertical.ui-slider-float .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-tip-label {
    top: 50%;
    margin-top: -11px;
    width: 34px;
    margin-left: 0px;
    left: -60px;
    color: #333;
    -webkit-transition-duration: 200ms, 200ms, 0;
    transition-duration: 200ms, 200ms, 0;
    -webkit-transition-property: opacity, left, visibility;
    transition-property: opacity, left, visibility;
    -webkit-transition-delay: 0, 0, 200ms;
    transition-delay: 0, 0, 200ms;
}

.ui-slider-vertical.ui-slider-float .ui-slider-handle:hover .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-handle.ui-state-hover .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-handle:focus .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-handle.ui-state-focus .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-handle.ui-state-active .ui-slider-tip,
.ui-slider-vertical.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {
    top: 50%;
    margin-top: -11px;
    left: -50px;
}

/* put label tooltips to right of slider */
.ui-slider-vertical.ui-slider-float .ui-slider-pip .ui-slider-tip-label {
    left: 47px;
}

.ui-slider-vertical.ui-slider-float .ui-slider-pip:hover .ui-slider-tip-label {
    left: 37px;
}

/* give the tooltip a css triangle arrow */
.ui-slider-vertical.ui-slider-float .ui-slider-tip:after,
.ui-slider-vertical.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
    border: 5px solid rgba(255, 255, 255, 0);
    border-left-color: white;
    border-top-color: transparent;
    position: absolute;
    bottom: 50%;
    margin-bottom: -5px;
    right: -10px;
    margin-left: 0;
    top: auto;
    left: auto;
}

.ui-slider-vertical.ui-slider-float .ui-slider-tip:before,
.ui-slider-vertical.ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
    border: 5px solid rgba(255, 255, 255, 0);
    border-left-color: #888;
    border-top-color: transparent;
    position: absolute;
    bottom: 50%;
    margin-bottom: -5px;
    right: -11px;
    margin-left: 0;
    top: auto;
    left: auto;
}

.ui-slider-vertical.ui-slider-float .ui-slider-pip .ui-slider-tip-label:after {
    border: 5px solid rgba(255, 255, 255, 0);
    border-right-color: white;
    right: auto;
    left: -10px;
}

.ui-slider-vertical.ui-slider-float .ui-slider-pip .ui-slider-tip-label:before {
    border: 5px solid rgba(255, 255, 255, 0);
    border-right-color: #888;
    right: auto;
    left: -11px;
}

/* SELECTED STATES */
/* Comment out this chuck of code if you don't want to have
        the new label colours shown */
.ui-slider-pips [class*=ui-slider-pip-initial] {
    font-weight: bold;
    /*color: #14CA82;*/
}

.ui-slider-pips .ui-slider-pip-initial-2 {
    color: #1897C9;
}

.ui-slider-pips [class*=ui-slider-pip-selected] {
    font-weight: bold;
    /*color: #FF7A00;*/
}

.ui-slider-pips .ui-slider-pip-inrange {
    /*color: black;*/
}

.ui-slider-pips .ui-slider-pip-selected-2 {
    /*color: #E70081;*/
}

.ui-slider-pips [class*=ui-slider-pip-selected] .ui-slider-line,
.ui-slider-pips .ui-slider-pip-inrange .ui-slider-line {
    background: black;
}
#BuildingVehicleTable_filter
{
    text-align:right;
}
.setbtn
{
    float:right;

}
.setbtn input
{
    margin-left:10px;

}
/* |dashboard| */
.dashboard-stat.blue-madison
{
    background-color:#36c6d3;
}
.dashboard-stat.blue-madison .tools a{
   color:#096871;
}
.dashboard-stat.blue-madison .caption{
   color:#096871;
}

.dashboard-stat.green-haze
{
    background-color:#f1c40f;
}

.dashboard-stat.green-haze .tools a{
   color:#c09d11;
}
.dashboard-stat.green-haze .caption{
   color:#c09d11;
}

.dashboard-stat.purple-plum
{
    background-color:#364150;
}
.dashboard-stat.red-intense
{
 background-color:#ed6b75;
}
.dashboard-stat.red-intense .tools a{
   color:#be0f1c;
}
.dashboard-stat.red-intense .caption{
   color:#be0f1c;
}


.dashboard-stat .tools a.reload {
    background-image: url(../images/portlet-reload-icon-white.png);
}
.dashboard-stat .tools {
    float: right;
}




.dashboard-stat  .portlet-title
{
   padding: 2px 8px 0px 8px;
}
.dashboard-stat .caption
{
    float:left;
    font-size:16px;
}
.dashboard-stat .visual
{
    padding-left:0px;
    float:none;
}
.dashboard-stat.blue-madison .visual > i
{
    color:black;
    opacity:0.1;
}
.dashboard-stat.green-haze  .visual > i
{
    color:black;
    opacity:0.1;
}
.dashboard-stat.purple-plum .visual > i
{
    color:black;
    opacity:0.1;
}
.dashboard-stat.red-intense .visual > i
{
    color:black;
    opacity:0.1;
}
.dashboard-stat .visual > i
{
        margin-left:12px;
    font-size: 79px;
    line-height: 70px;
}
.dashboard-stat .details
{
    float:right;
}

.left-icon
{
    float:left;
    width:23%;
    height:100px;
    padding-top:43px;
    padding-left:10px;

}
.left-icon i
{
   font-size:60px;
   opacity:0.1;

}
.right-stat
{
    float:right;
    width:72%;
    height:100px;
}
.inout{
    font-size:25px;
    color:white;
    margin-left:30px;
    width:72%;
}
.inout div{
    width:100%;
   float:left;
}
.inout div:nth-child(2)
{
    text-align:right
}

.vehicle-counting{
    font-size:25px;
    color:white;
     margin-left:30px;
    width:72%;
}

.vehicle-counting div{
    width:50%;
   float:left;
}
.vehicle-counting div:nth-child(2)
{
    text-align:right
}
.total-border
{
    border-bottom:2px solid black;
    opacity:0.2;
    margin-left:30px;
    width:72%;
}
.total-vehicle
{
    color:white;
     margin-left:30px;
    width:72%;
}
.total-vehicle div
{
     width:100%;
   float:left;
}
.total-vehicle div:nth-child(2)
{
    text-align:right
}
.time-out
{
    width:100%;
    height:122px;
}
.time-out .inout
{
    text-align:center;
    font-size:60px;
}
.time-out .vehicle-counting
{
    text-align:center;
    font-size:12px;
}
.blockVehicle
{
    float:left;
    margin-left:10%;
}
.tileVehicle
{
    padding:1px 6px 0px 6px;
    background-color:brown;
    color:white;
}
.edit
{
    padding-top:3px;
    padding-bottom:3px;
    border-radius:4px !important;
}
.delete
{
    padding-top:3px;
    padding-bottom:3px;
    border-radius:4px !important;
}
.dataTables_filter
{
    text-align:right;
}
#RowPermission div.btn-group
{
    width:100% !important;
}
#RowPermission .multiselect
{
    width:100% !important
}
.form-actions{
        padding: 20px 10px;
    margin: 0;
    background-color: #f5f5f5;
    border-top: 1px solid #e5e5e5;
}


