/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.dxeEditArea{
    btnFlat
}
 .dxeEditAreaSys {

   padding-bottom:10px;
     

}
.dxGridView_gvFilterRowButton{
    background-image: url('Content/images/next_image.png') !important;

}
.dxgvFilterBar a
{
    color:white;
}

.small-box {
  position: relative;
  display: block;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin-bottom: 15px;
}
.small-box > .inner {
  padding: 10px;
}
.small-box > .small-box-footer {
  position: relative;
  text-align: center;
  padding: 3px 0;
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  z-index: 10;
  background: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
.small-box > .small-box-footer:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.15);
}
.small-box h3 {
  font-size: 38px;
  font-weight: bold;
  margin: 0 0 10px 0;
  white-space: nowrap;
  padding: 0;
}
.small-box p {
  font-size: 15px;
}
.small-box p > small {
  display: block;
  color: #f9f9f9;
  font-size: 13px;
  margin-top: 5px;
}
.small-box h3,
.small-box p {
  z-index: 5px;
}
.small-box .icon {
  position: absolute;
  top: auto;
  bottom: 5px;
  right: 5px;
  z-index: 0;
  font-size: 90px;
  color: rgba(0, 0, 0, 0.15);
}
.small-box:hover {
  text-decoration: none;
  color: #f9f9f9;
}
.small-box:hover .icon {
  animation-name: tansformAnimation;
  animation-duration: .5s;
  animation-iteration-count: 1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  -webkit-animation-name: tansformAnimation;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-name: tansformAnimation;
  -moz-animation-duration: .5s;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease;
  -moz-animation-fill-mode: forwards;
}
@media screen and (max-width: 480px) {
  .small-box {
    text-align: center;
  }
  .small-box .icon {
    display: none;
  }
  .small-box p {
    font-size: 12px;
  }
}
.bg-indigo
 {
  color: #f9f9f9 !important;
  background-color:#bf1e2d !important;
}

 
     .modalBackground {
	background-color:Gray !important;
	filter:alpha(opacity=90) !important;
	opacity:0.9 !important;
}
     .Label
     {
         background-color:transparent;
         border:none;
     }
.modalPopup {
	background-color:#ffffff;
	border-width:3px;
	border-style:solid;
	border-color:Gray;
	padding:3px;
	width:250px;
}
div.rounded-corners {     
    height: 18px;
    width: 18px; 
    border-radius: 50%;
    overflow: hidden;
}
.btnHide{
    display:none;
}
.inLine{
    display:inline;
}

.btn, .dxbButton
{
    background-image: none;
    /*border-radius: 15px !important;*/
    
    text-align: center;
    
      border-width: 0px;
  padding:0px;
    /*color: white;*/
  background-color: #bf1e2d;
  color:white;
}
.btnFlat
{
  
 
    color: white ;
    background-color: #bf1e2d;
    border-width: 0px;
   padding: 7px 14px !important;;
   font-size: 14px;
   outline: medium none !important;
   background-image: none !important;
    filter: none;
    box-shadow: none;
    text-shadow: none;

    margin-bottom: 0px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -moz-user-select: none;
    border: 1px solid transparent;
   
}
.btnFlat:hover{
    color: white;
    background-color:#6f111b !important;;
}

   .buttonHover
    {
  color: white;
  background-color: #756299;
  cursor: pointer;

        
    }


   .GridHeaders{
        font-family: "Open Sans" !important;
  font-style: normal !important;
  font-size: 14px !important;
  font-weight:600 !important;
    padding:8px !important;
    color:#333333 !important;
  box-sizing: content-box !important;
   }
   .dxgvHeader, .dxgvHeader table,.dxgvTable,.dxpLite,.dxgvEditFormCaption,.dxp-current{
        color:#333333 !important;
   }
   .dxgvEditFormCaption{
       padding:15px;
       padding-left:30px!important; 
       padding-right:0px!important; 
       padding-top:22px !important;
   }
   .dxgvEditFormCell{
       padding: 0px 30px 0px 15px !important;
   }
   .dxpc-contentWrapper{
        /*padding-top:15px !important;*/
   }
   .dxgvCommandColumn {
     
       /*border-top:1px solid #e5e5e5 !important;*/
       padding: 13px !important;
       
   }
   .dxgvCommandColumn input[type=button]{
     
       margin-right: 15px !important;
       padding-left:12px !important;
   }
   #MainContent_gridUserProfiles_DXPEForm_tceditnew_4{
       padding-bottom:21px !important;
       padding-top:15px !important;
   }
   #MainContent_gridUserProfiles_DXPEForm_tcedit0_4{
        padding-bottom:21px !important;
       padding-top:15px !important;
   }
  
   .dxgvCommandColumn a{
       color: #5b9bd1 !important;
   }
   .dxgvCommandColumn a:hover{
       color: #3175af !important;
   }
  
      .GridData, .dxeEditArea,  .dxeCheckBoxList label, .GridDataPage,.dxpc-headerText {
        font-family: "Open Sans" !important;
  font-style: normal !important;
  font-size: 13px !important;
  font-weight:400 !important;
  box-sizing: content-box !important;

   }
.dxpc-headerText {
     font-size: 17px !important;
}
.GridDataPage {
    padding-top: 2px;
}
      

         .PopupHeaders{
        font-family: "Open Sans" !important;
  font-style: normal !important;
  font-size: 14px !important;
  font-weight:600 !important;
    padding:8px !important;
    color:#333 !important;
  box-sizing: content-box !important;
   }

   input[type=button]{
      
  margin-right:0px;
   color: white;
  background-color: #bf1e2d;

  border-width: 0px;
padding: 6px 13px;
font-size: 14px;
outline: medium none !important;

filter: none;
box-shadow: none;
text-shadow: none;

margin-bottom: 0px;
font-weight: 400;
line-height: 1.42857;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
-moz-user-select: none;
border: 1px solid transparent;
   }

   input[type=button]:hover{
      background-color: #303d76;
        outline: none !important;
  /*background-image: none !important;*/
  filter: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  text-shadow: none;
   }

 .dxeEditAreaSys {
    height: 17px !important;
}
 .dxpc-closeBtn{
     visibility:hidden !important;
 }
 html {
       overflow-y: scroll;
}

/*@media screen and (max-width: 1600px) {
    
     #MainContent_RecordingStatsOfMonth{
           width:444px !important;
     }
     #MainContent_RecordingStatsOfMonth_IMG
     {
          width:444px !important;
          height:200px !important;
     }
   
}
@media screen and (max-width: 1500px) {
    
     #MainContent_RecordingStatsOfMonth{
           width:400px !important;
     }
     #MainContent_RecordingStatsOfMonth_IMG
     {
          width:400px !important;
            height:200px !important;
     }
   
}
@media screen and (max-width: 1400px) {
    
     #MainContent_RecordingStatsOfMonth{
           width:350px !important;
     }
     #MainContent_RecordingStatsOfMonth_IMG
     {
          width:350px !important;
            height:200px !important;
     }
   
}
@media screen and (max-width: 1300px) {
    
     #MainContent_RecordingStatsOfMonth{
           width:300px !important;
     }
     #MainContent_RecordingStatsOfMonth_IMG
     {
          width:300px !important;
            height:200px !important;
     }
   
}
@media screen and (max-width: 400px) {
    
     #MainContent_RecordingStatsOfMonth{
          padding-top:5px;
           width:233px !important;
     }
     #MainContent_RecordingStatsOfMonth_IMG
     {
          width:233px !important;
            height:200px !important;
     }
   
}
@media screen and (max-width: 350px) {

    
     #MainContent_RecordingStatsOfMonth{
          padding-top:5px;
           width:187px !important;
     }
     #MainContent_RecordingStatsOfMonth_IMG
     {
          width:187px !important;
            height:200px !important;
     }
   
}
@media screen and (max-width: 330px) {
    
     #MainContent_RecordingStatsOfMonth{
          padding-top:5px;
           width:160px !important;
     }
     #MainContent_RecordingStatsOfMonth_IMG
     {
          width:160px !important;
            height:200px !important;
     }
   
}
@media screen and (max-width: 300px) {
    
     #MainContent_RecordingStatsOfMonth{
         padding-top:5px;
           width:136px !important;
     }
     #MainContent_RecordingStatsOfMonth_IMG
     {
          width:136px !important;
            height:200px !important;
     }
   
}*/


.ajax__html_editor_extender_container
{
    width:100% !important;
    height:80px !important;
}



.ajax__html_editor_extender_button
{
    /*background: none !important;*/
        background-color: transparent !important;
        
}


.ajax__html_editor_extender_Undo
{
            /*background-color: transparent !important;*/

    /*background-image: url('../content/images/add_icon.png') !important;*/
}