﻿#saleDetailTable
{
    width:100% !important;
    font-size:6px !important;
      border:1px solid black !important;
    margin-top:5px !important;
}
#saleDetailTable tr
{
    font-size:6px !important;
   border:1px solid black !important;
}

.form-control
{
    border:none !important;
    padding:0px !important;
    font-size:6px !important;

}
.Gateinfo span
{
    font-size:8px !important;
}