﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" Content="width=device-width" />
    <title>Layout</title>


    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&amp;subset=all" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/custom.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/uniform.default.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/fullcalendar.min.css" rel="stylesheet" />
    <link rel="~/Content/stylesheet" type="text/css" href="css/colorpicker.css" />

    <link href="~/Content/css/bootstrap-multiselect.css" rel="stylesheet" />
    <link href="~/Content/css/components.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/plugins.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/css/darkblue.css" rel="stylesheet" type="text/css" id="style_color" />

    <link href="~/Content/css/dataTables.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/select2.css" />
    <link href="~/Content/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Content/css/fileinput.css" rel="stylesheet" />
    <link href="~/Content/css/datepicker.css" rel="stylesheet" />
    <link href="~/Content/css/jquery.toastmessage.css" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" type="image/ico" />


    <script src="~/Content/js/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.common.js"></script>
    <script src="~/Content/js/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery-ui.min.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.slimscroll.min.js" type="text/javascript"></script>
    <script src="~/Content/js/components-jqueryui-sliders.js"></script>
    <script src="~/Content/js/jquery.blockui.min.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.uniform.min.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap-switch.min.js" type="text/javascript"></script>

    <script src="~/Content/js/bootstrap-multiselect.js"></script>
    <script type="text/javascript" src="~/Content/js/select2.min.js"></script>
    <script src="~/Content/js/components-pickers.js"></script>
    <script src="~/Content/js/toastr.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap-colorpicker.js"></script>
    <script src="~/Content/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="~/Content/js/moment.min.js" type="text/javascript"></script>
    <script src="~/Content/js/dataTables.min.js" type="text/javascript"></script>
    <script src="~/Content/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="~/Content/js/fileinput.js" type="text/javascript"></script>
    <script src="~/Content/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="~/Content/js/jquery.toastmessage.js"></script>
    <script src="~/Content/js/jquery.validate.min.js"></script>
    <script src="~/Content/js/metronic.js" type="text/javascript"></script>
    <script src="~/Content/js/layout.js" type="text/javascript"></script>
    <script src="~/Content/js/quick-sidebar.js" type="text/javascript"></script>
    <script src="~/Content/js/demo.js" type="text/javascript"></script>
    <script src="~/Content/js/form-wizard.js"></script>
    <script src="~/Content/js/ui-alert-dialog-api.js"></script>
    <script src="~/Content/js/bootbox.min.js"></script>
    <script src="~/Content/js/laodingspinner.js"></script>



    <script>
        $(document).ready(function () {
            Metronic.init();
            Layout.init();
            QuickSidebar.init();
            Demo.init();
            ComponentsPickers.init();
            UIAlertDialogApi.init();
        });
    </script>
    <style>
        .page-header.navbar .page-logo .logo-default {
            width: 100%;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle > i {
            color: white;
        }

        #BranchStockNotification span.message {
            color: red;
        }

        #companyStockNotification span.message {
            color: red;
        }

        .page-header.navbar .top-menu .navbar-nav > li.dropdown .dropdown-toggle .badge.badge-default {
            background-color: maroon;
        }

        .circleNumber {
            padding: 2px 6px 2px 6px !important;
            background-color: #359bcf;
            color: white;
            border-radius: 12px !important;
        }

        .licheckout {
            background-color: #359bcf;
        }

            .licheckout a {
                color: white !important;
            }

                .licheckout a i {
                    color: gray !important;
                }

        li.licheckout a:hover {
            color: black !important;
        }

        .page-sidebar .page-sidebar-menu .sub-menu li > a, .page-sidebar-closed.page-sidebar-fixed .page-sidebar:hover .page-sidebar-menu .sub-menu li > a {
            padding: 6px 15px 6px 25px !important;
        }

        .page-header.navbar .page-logo {
            padding-left: 0px;
        }
    </style>




</head>
<body class="page-header-fixed page-quick-sidebar-over-content page-style-rounded">

    <div class="page-header navbar navbar-fixed-top">
        <div class="page-header-inner">
            <div class="page-logo">
                <a href="../index.aspx">
                    <img src="~/Content/images/mainlogo.png" alt="logo" class="logo-default" />
                </a>
                <div class="menu-toggler sidebar-toggler hide">
                </div>
            </div>
            <a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse"></a>

            <div class="top-menu">
                <ul class="nav navbar-nav pull-right" style="margin-right:0px; padding-top:0px !important">







                    <li class="dropdown dropdown-extended dropdown-inbox" id="AlertCompanyStock">
                        <a href="#" id="btnCompanyStock" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
                            <i class="icon-bell"></i>
                            <span class="badge badge-default" id="NumberCompanyStock">0</span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="external">
                                <h3><span class="bold" id="new-notification">Company Stock</span>Alert</h3>
                                <a ID="lnkbtnStockReorder">  </a>

                            </li>
                            <li>
                                <ul class="dropdown-menu-list scroller" id="companyStockNotification" style="height: 275px;" data-handle-color="#637283"></ul>
                            </li>
                        </ul>
                    </li>



                    <li class="dropdown dropdown-user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="padding-right:0px">

                            <i class="icon-user" style="font-size: 20px"></i>

                            <span class="username username-hide-on-mobile" id="UserName"></span>
                            <i class="icon-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-default">

                            <li id="liChangePassword">
                                <a class="" data-toggle='modal' href='#ModalChangePassword'><i class="fa fa-lock"></i>Change Password</a>

                            </li>
                            <li>
                                <a ID="lnkbtnLogOut"><i class='icon-key'></i>Log Out </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="clearfix">
    </div>
    <div class="page-container">
        <div class="page-sidebar-wrapper">
            <div class="page-sidebar navbar-collapse collapse">
                <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-light " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200" style="padding-top: 0px" id="menu">

                    <li class="sidebar-toggler-wrapper">
                        <div class="sidebar-toggler"></div>
                    </li>
                    <li id="liDashboard" class="start">
                        <a href="/Admin/Index">
                            <i class="icon-bar-chart"></i>
                            <span class="title">Dashboard</span>
                            <span class="selected"></span>
                        </a>
                    </li>

                    <li id="liPet">
                        <a href="/Admin/PetList">
                            <i class="fa fa-sitemap"></i>
                            <span class="title">View Pets</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li id="liServices">
                        <a href="/Admin/ServiceList">
                            <i class="fa fa-sitemap"></i>
                            <span class="title">Services List</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li id="liUsers">
                        <a href="/Admin/Users">
                            <i class="fa fa-sitemap"></i>
                            <span class="title">Users</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li id="liControlUsers">
                        <a href="/Admin/AdminUsers">
                            <i class="fa fa-sitemap"></i>
                            <span class="title">Control Users</span>
                            <span class="selected"></span>
                        </a>
                    </li>













                </ul>
                <!-- END SIDEBAR MENU -->
            </div>
        </div>
        <div class="page-content-wrapper">
            <div class="page-content" id="pageReferesh">
                <div id="ModalChangePassword" class="modal fade" role="dialog" tabindex="-1" aria-hidden="true">
                    <div class="modal-dialog" id="PasswordPopup">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                <h4 class="modal-title">Change Password</h4>
                            </div>
                            <div class="modal-body">
                                <div id="ErrorDiv" class="row" style="">
                                    <div class="col-md-12" style="text-align: center;">
                                        <label class="Label" style="color: red;" id="lblError"></label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="control-label">Enter Old Password</label>

                                    </div>

                                    <div class="col-md-8">
                                        <asp:TextBox ID="txbOldPassword" CssClass="form-control" TextMode="Password"></asp:TextBox>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label">Enter New Password</label>
                                    </div>

                                    <div class="col-md-8">
                                        <asp:TextBox ID="txbNewPassword" CssClass="form-control" TextMode="Password"></asp:TextBox>
                                    </div>

                                </div>
                                <div class="row" style="padding-top: 10px;">
                                    <div class="col-md-4">
                                        <label class="control-label">Confirm Password</label>

                                    </div>

                                    <div class="col-md-8">
                                        <asp:TextBox ID="txbConfirmNewPassword" CssClass="form-control" TextMode="Password"></asp:TextBox>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn default">Close</button>
                                <button type="button" class="btn green" onclick="ChangePassword()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                @RenderBody()

            </div>
        </div>
    </div>
    <div class="page-footer">
        <div class="page-footer-inner">
        </div>
        <div style="float: right;">
            <span id="VersionInfo" style="color: azure"></span>
            <asp:HyperLink ID="hpylinkbtn" Target="_blank"></asp:HyperLink>
        </div>
    </div>


    <div id="ModalChatUser" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><span id="spanUserName"></span></h4>
                    <input type="text" id="txtUserID" hidden="hidden" />
                </div>
                <div class="modal-body">
                    <div class="scroller" id="scrollerme" style="height: 352px;">
                        <ul class="chats" id="chatUL"></ul>
                    </div>
                    <div class="chat-form">
                        <div class="input-cont">
                            <input class="form-control" id="txtUserTypedMessage" type="text" placeholder="Type a message here..." />
                        </div>
                        <div class="btn-cont">
                            <span class="arrow">
                            </span>
                            <a onclick="SendMessageToUser();" class="btn blue icn-only">
                                <i class="fa fa-check icon-white"></i>
                            </a>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div id="ModelTimeSettings" class="modal fade" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>

                </div>
                <div class="modal-body">
                    <div class="row Gateinfo">
                        <div class="col-md-4">

                            <span>Start Time<span class="impRequired">*</span></span>
                            <input type="text" id="txtStartTime" maxlength="45" class="form-control" />
                        </div>


                        <div class="col-md-4">
                            <span>End Time<span class="impRequired">*</span></span>
                            <input type="text" id="txtEndTime" maxlength="45" class="form-control" />
                        </div>

                        <div class="col-md-4" style="padding-top:20px">
                            <span>Check</span>
                            <input type="checkbox" id="chkonoff" class="make-switch" data-on-text="ON" data-off-text="OFF" data-on-color="success" data-off-color="danger" />
                        </div>

                    </div>


                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn default">Close</button>
                    <button type="button" id="btnAddTime" class="btn green" onclick="SendOfficeTime()">Apply</button>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
