﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th"></i>Users
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                </div>
            </div>
            <div class="portlet-body" style="">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="btn-group">
                                <a class="btn green" onclick="OpenAddUserModal();">Add New <i class="fa fa-plus"></i></a>
                            </div>
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table id='UsersTable' class='table table-striped table-hover table-bordered'>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="ModalAddUser" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Add User</h4>
            </div>
            <div class="modal-body">


                <div class="row Gateinfo">

                    <div class="col-md-6">
                        <span>Joining Date<span class="impRequired">*</span></span>


                        <div class="input-group date form_datetime" id="dpJoiningDate" data-date="01-2015"
                             data-date-format="dd/mm/yyyy">
                            <input id="txtJoiningDate" type="text" size="16" readonly class="form-control" />
                            <span class="input-group-btn">
                                <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                            </span>
                        </div>

                    </div>

                </div>
                <div class="row Gateinfo">
                    <div class="col-md-6">
                        <input type="text" id="txtUserID" hidden="hidden" />
                        <span>First Name<span class="impRequired">*</span></span>
                        <input type="text" id="txtFirstName" maxlength="45" class="form-control" />
                    </div>


                    <div class="col-md-6">
                        <span>Last Name<span class="impRequired">*</span></span>
                        <input type="text" id="txtLastName" maxlength="45" class="form-control" />
                    </div>

                </div>
                <div class="row Gateinfo">
                    <div class="col-md-6">
                        <span>User Name<span class="impRequired">*</span></span>
                        <input type="text" id="txtUserName" maxlength="100" class="form-control" />
                    </div>
                    <div class="col-md-6">
                        <span>Password<span class="impRequired">*</span></span>
                        <input type="password" id="txtPassword" maxlength="100" class="form-control" />
                    </div>

                </div>
                <div class="row Gateinfo">
                    <div class="col-md-5">
                        <span>User Contact<span class="impRequired">*</span></span>
                        <input type="text" id="txtContact" maxlength="45" class="form-control" />
                    </div>



                    <div class="col-md-3">
                        <span>Gender<span class="impRequired">*</span></span>
                        <select id="ddlGender" class="form-control">
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                        </select>
                    </div>

                </div>



            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default">Close</button>
                <button type="button" id="btnAddUser" class="btn green" onclick="AddNewUser()">Apply</button>
                <button type="button" id="btnUpdateUser" class="btn green" onclick="UpdateUser()">Save Changes</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/js_admin.js"></script>
<script>
       $(document).ready(function () {

           $("#liDashboard").removeClass("active open");

           $("#liPet").removeClass("active open");

           $("#liUsers").removeClass("active open");

           $("#liServices").removeClass("active open");
           $("#liControlUsers").addClass("active open");
       

         


       });
</script>

