﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<script>
       $(document).ready(function () {

           $("#liDashboard").addClass("active open");

           $("#liPet").removeClass("active open");

           $("#liUsers").removeClass("active open");

           $("#liServices").removeClass("active open");
           $("#liControlUsers").removeClass("active open");





       });
</script>