﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th"></i>Pet List
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                </div>
            </div>
            <div class="portlet-body" style="">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table id='PetTable' class='table table-striped table-hover table-bordered'>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="ModalPetProfileDetail" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Pet Profile Detail</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtPetProfileId" value="0" />
                <div class="row text-center portfolio" id="petimages">
                  
                   
                
                    
       

                </div>

                <div class="row Gateinfo">

                    <div class="col-md-4">
                        <span>Pet Type</span>
                        <input type="text" id="txtPetType" readonly="readonly" class="form-control" />

                    </div>
                    <div class="col-md-4">
                        <span>Pet Breed</span>

                        <input type="text" id="txtPetBreed" readonly="readonly" class="form-control" />
                    </div>
                    <div class="col-md-4">
                        <span>Pet Gender</span>

                        <input type="text" id="txtPetGender" readonly="readonly" class="form-control" />
                    </div>
                </div>

                <hr />

                <div class="row Gateinfo">

                    <div class="col-md-3">
                        <span>Veccinated</span>
                        <input type="text" id="txtVeccinated" readonly="readonly" class="form-control" />

                    </div>
                    <div class="col-md-3">
                        <span>rescued on</span>

                        <input type="text" id="txtRescued" readonly="readonly" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <span>Country</span>

                        <input type="text" id="txtCountry" readonly="readonly" class="form-control" />
                    </div>
                    <div class="col-md-3">
                        <span>City</span>

                        <input type="text" id="txtCity" readonly="readonly" class="form-control" />
                    </div>
                </div>
                
                
                



            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" onclick="RemovePetProfile();" class="btn default">Remove</button>
                <button type="button" id="btnAddUser" class="btn green" onclick="ApprovePetProfile()">Approve</button>
                
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.common.js"></script>
<script src="~/Scripts/js_petlist.js"></script>
<script>
       $(document).ready(function () {

           $("#liDashboard").removeClass("active open");

           $("#liPet").addClass("active open");

           $("#liUsers").removeClass("active open");

           $("#liServices").removeClass("active open");
           $("#liControlUsers").removeClass("active open");





       });
</script>

