﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th"></i>Users
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                </div>
            </div>
            <div class="portlet-body" style="">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table id='ServiceTable' class='table table-striped table-hover table-bordered'>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div id="ModalPetServiceProfileDetail" class="modal fade" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Pet Service Detail</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="txtPetServiceProfileId" value="0" />
                <div class="row text-center portfolio" id="petServiceimages">






                </div>
                <div class="row Gateinfo">

                    <div class="col-md-6">
                        <span>Care Type</span>
                        <input type="text" id="txtPetCareType" readonly="readonly" class="form-control" />

                    </div>
                    <div class="col-md-6">
                        <span>Contact Number</span>

                        <input type="text" id="txtContactNumber" readonly="readonly" class="form-control" />
                    </div>
                
                </div>

                <div class="row Gateinfo">

                    <div class="col-md-12">
                        <span>Facebook Link</span>
                        <input type="text" id="txtFacebookLink" readonly="readonly" class="form-control" />

                    </div>
                    <div class="col-md-12">
                        <span>Twiter Link</span>
                        <input type="text" id="txtTwitterLink" readonly="readonly" class="form-control" />

                    </div>
                    <div class="col-md-12">
                        <span>Website Link</span>
                        <input type="text" id="txtWebsiteLink" readonly="readonly" class="form-control" />

                    </div>
                    </div>

                    <div class="row Gateinfo">

                        <div class="col-md-6">
                            <span>Country</span>
                            <input type="text" id="txtCountry" readonly="readonly" class="form-control" />

                        </div>
                        <div class="col-md-6">
                            <span>City</span>

                            <input type="text" id="txtCity" readonly="readonly" class="form-control" />
                        </div>
                        <div class="col-md-6">
                            <span>Address</span>

                            <textarea  id="txtAddress" readonly="readonly" class="form-control">
                                </textarea>
                        </div>
                        <div class="col-md-6">
                            <span>Description</span>

                            <textarea id="txtDescription" readonly="readonly" class="form-control">
                                </textarea>
                        </div>
                    </div>






                </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn default" onclick="RemovePetServiceProfile();">Remove</button>
                <button type="button" id="btnAddUser" class="btn green" onclick="ApprovePetServiceProfile();">Approve</button>

            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery.common.js"></script>
<script src="~/Scripts/js_servicelist.js"></script>
<script>
       $(document).ready(function () {

           $("#liDashboard").removeClass("active open");

           $("#liPet").removeClass("active open");

           $("#liUsers").removeClass("active open");

           $("#liServices").addClass("active open");
           $("#liControlUsers").removeClass("active open");





       });
</script>

