﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterUser</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-4 col-md-offset-4" style="margin-top:5%">
        <div class="well">
            <!--This table contains the fields that we want to capture to register a new user-->
            <table class="table table-bordered">
                <thead>
                    <tr class="">
                        <th colspan="2">
                            New User Registration
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>User Name</td>
                        <td><input type="text" id="txtUserName" class="form-control" /> </td>
                    </tr>
                    <tr>
                        <td>Full Name</td>
                        <td><input type="text" id="txtFullName" class="form-control" /> </td>
                    </tr>
                    <tr>
                        <td>Sur Name</td>
                        <td><input type="text" id="txtSurName" class="form-control" /> </td>
                    </tr>
                    <tr>
                        <td>Country</td>
                        <td><input type="text" id="txtCountry" class="form-control" /> </td>
                    </tr>
                    <tr>
                        <td>City</td>
                        <td><input type="text" id="txtCity" class="form-control" /> </td>
                    </tr>

                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" class="form-control" id="txtPassword"
                                   placeholder="Password" />
                        </td>
                    </tr>
                    <tr>
                        <td>Confirm Password</td>
                        <td>
                            <input type="password" class="form-control" id="txtConfirmPassword"
                                   placeholder="Confirm Password" />
                        </td>
                    </tr>
                    <tr class="">
                        <td colspan="2">
                            <input id="btnRegister" class="btn btn-success"
                                   type="button" value="Register" />
                        </td>
                    </tr>
                </tbody>
            </table>


        </div>
    </div>
    <script src="~/Content/js/jquery-1.11.3.min.js"></script>
    <script src="~/scripts/Register.js"></script>
    <script type="text/javascript">

    </script>
</body>
</html>
