﻿
@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet box blue">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-th"></i>Users
                </div>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="javascript:;" class="reload"></a>
                </div>
            </div>
            <div class="portlet-body" style="">
                <div class="table-toolbar">
                    <div class="row">
                        <div class="col-md-6">
                            
                        </div>
                        <div class="col-md-6">
                        </div>
                    </div>
                </div>
                <table id='UsersTable' class='table table-striped table-hover table-bordered'>

                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>



<script src="~/Scripts/js_users.js"></script>
<script>
       $(document).ready(function () {

           $("#liDashboard").removeClass("active open");

           $("#liPet").removeClass("active open");

           $("#liUsers").addClass("active open");

           $("#liServices").removeClass("active open");
           $("#liControlUsers").removeClass("active open");





       });
</script>

