﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginUser</title>
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="col-md-4 col-md-offset-4" style="margin-top:10%">
        <div class="well">
            <!--Table to capture username and password-->
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th colspan="2">
                            Existing User Login
                            <a href="/Account/UserRegister" class="btn btn-success pull-right">
                                Register
                            </a>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Usename</td>
                        <td>
                            <input type="text" class="form-control" id="txtUsernameLogin" placeholder="Username" />
                        </td>
                    </tr>
                    <tr>
                        <td>Password</td>
                        <td>
                            <input type="password" class="form-control" id="txtPasswordLogin"
                                   placeholder="Password" />
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <input id="btnLogin" class="btn btn-success" type="button"
                                   value="Login" />
                            <input type="button" id="btnGoogleLogin"
                                   value="Login with Google" class="btn btn-danger" />
                            <input type="button" id="btnFacebookLogin"
                                   value="Login with Facebook" class="btn btn-primary" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <!--Bootstrap alert to display error message if the login fails-->

        </div>
    </div>


    <script src="~/Content/js/jquery-1.11.3.min.js"></script>
    <script src="~/Scripts/googleAuthentication.js"></script>
    <script src="~/scripts/Register.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $('#btnFacebookLogin').click(function () {

                $.ajax({
                    url: 'http://Localhost:18292/api/Account/FacebookLogin',
                    method: 'GET',
                    data: {},
                    success: function (response) {

                        console.log(response);


                    },
                    error: function (jqXHR) {
                        //$('#divErrorText').html(jqXHR.responseText);
                        //$('#divError').show('fade');
                        alert(jqXHR.responseText);
                    }
                });

                //  window.location.href = "/api/Account/ExternalLogin?provider=Google&response_type=token&client_id=self&redirect_uri=http%3A%2F%2Flocalhost%3A4648%2FAdmin%2FLoginUser&state=yM3cdHaH-nBrkbo39oZ3egzaCY2m0mjU8D13D3nY9Yc1";
            });


            $('#btnGoogleLogin').click(function () {

                //OpenGoogleLoginPopup();

                window.location.href = "/api/Account/ExternalLogin?provider=Google&response_type=token&client_id=self&redirect_uri=http%3A%2F%2Flocalhost%3A18291%2FAdmin%2FUserLogin&state=tzDsq10o3IqqT2mtIMVt7h3dqvaidRAvhKTZMyA52KY1";
            });

        });
    </script>
</body>
</html>
